<div class="custom-navbar">
  <div class="brand-logo">
      <a href="/">
          <img src="assets/logo-bg-removed.png" width="200px" alt="Logo">
      </a>
  </div>
  <div class="navbar-links">
      <ul>
          <!-- <li><a href="#" target="_blank">Home</a></li>
          <li><a href="#" target="_blank">About</a></li>
          <li><a href="#" target="_blank">Features</a></li> -->
          <!-- <li><a href="#" class="btn-request">Create a Blog</a></li> -->
          <li>
              <form action="/create-blog" method="GET">
                  <input type="submit" class="btn-request" value="CREATE A BLOG">
              </form>
          </li>
      </ul>
  </div>
</div>
